.annons1 {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    left: 10px;
    bottom: 60px;
    position: fixed;
  }
  
  .annons2 {
    width: 100px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

    left: 10px;
    bottom: 170px;
    position: fixed;
  }

  .annons1, .annons2 {
    opacity: 0.8;
    border: 2px solid rgba(197, 201, 209, 0.9);;
    box-sizing: border-box;
    border-radius: 40px;
    background-color: white;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;

    color: black;
  }

  .annons1:hover, .annons2:hover {
    opacity: 70%;
  }

  .annons1:visited, .annons2:visited {
    color: black;
  }

  #annonsDiv {
    display: flex;
    justify-content: center;
    margin-top: 260px;
  }

