.back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: #fab15c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: fixed;
    top: 100px; left: 40px;
    border: #716960c9 solid 1px;

  z-index: 1;
}

.toLandingPage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: #fab15c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: fixed;
    top: 40px; left: 40px;
    border: #716960c9 solid 1px;
    z-index: 1;
  }

.toLandingPageButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
    z-index: 1;
}

.toLandingPage:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    transition: 0.2s;
    background-color: #fab15c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: fixed;
    top: 40px; left: 40px;
    border: #716960c9 solid 1px;
    z-index: 1;
}

.back-button:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    transition: 0.2s;
    background: #fab15c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: fixed;
    top: 100px; left: 40px;
    border: #716960c9 solid 1px;
    z-index: 1;
}

.toLandingPageButton:active, .goBackButton:active {
color: black;
z-index: 1;
}

.toLandingPageButton:visited, .goBackButton:active {
color: black;
z-index: 1;
}