h1 {
    text-align: center;
    font-family: "Advent Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 160px;
    line-height: 194px;
    display: flex;
    align-items: center;
    color: #ffffff;
    margin: 0 auto;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.512);
  }
  
  h2 {
    font-family: "Advent Pro", sans-serif;
    font-weight: 400;
    font-size: 60px;
    display: flex;
    align-items: center;
    color: #ffffff;
    margin: 0 auto;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.512);
  }
  
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background: url(robin-noguier-sydwCr54rf0-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
  
  }

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 64px;
    display: flex;
    align-items: center;
    color: black;
    margin: 0 auto;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.512);

}

.toLandingPage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: lightslategray;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: fixed;
    top: 40px; left: 40px;
    border: #716960c9 solid 1px;
    z-index: 1;
  }

  .toLandingPageButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
    z-index: 1;
}

.toLandingPage:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    transition: 0.2s;
    background-color: darkslategrey;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: fixed;
    top: 40px; left: 40px;
    border: #716960c9 solid 1px;
    z-index: 1;
}
.toLandingPageButton:active {
    color: black;
    z-index: 1;
    }
    
.toLandingPageButton:visited{
    color: black;
    z-index: 1;
    }
