body {
  background-color: white;
  min-height: 100vh;
  min-width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Basic', sans-serif;
  font-weight: 300;
  font-size: 60px;
  display: flex;
  align-items: center;
  color: black;
  margin: 10 auto;
}

h2{
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic;
  margin: 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: black;
}



<<<<<<< Updated upstream
.annons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  opacity: 0.8;
  background: #e2e2e2;
  border: 2px solid rgba(202, 138, 62, 0.65);
  box-sizing: border-box;
  border-radius: 40px;
}

#annonsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 100px;
  width: 90%;
  position: absolute;
  margin: auto;
  bottom: 0;
  margin-bottom: 50px;
=======
.country-box:hover {
  opacity: 100%;
  transition: 0.3s;
  cursor: pointer;
}

b {
  font-size: 27px;
}

.country-box {
  border: 1px black solid;
  padding: 25px;
  width: 250px;
  opacity: 50%;
>>>>>>> Stashed changes
}


.green-visa-circle {
  display: block;
  border-radius: 50%;
  background-color: green;
  width: 25px;
  height: 25px;
}

.red-visa-circle {
  display: block;
  border-radius: 50%;
  background-color: red;
  width: 25px;
  height: 25px;
}