body {
  background-color: white;
  min-height: 100vh;
  min-width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-family: "Basic";
  font-style: normal;
  font-style: normal;
  font-weight: 300;
  font-size: 130px;
  line-height: 194px;
  display: flex;
  align-items: center;
  color: white;
  margin: 0 auto;
}

h2 {
    font-family: "Nerko One", cursive;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #ffffff;
    margin: 0 auto;
    color: black;
  }

  .toLandingPage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #c4c4c4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: fixed;
    top: 40px; left: 40px;
  }

.toLandingPageButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
}

.goBack {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #c4c4c4;
    background: #c4c4c4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: fixed;
    top: 100px; left: 40px;
}

.goBackButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
}
=======
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin: 0 auto;
  color: black;
}

.annons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  opacity: 0.8;
  background: #e2e2e2;
  border: 2px solid rgba(202, 138, 62, 0.65);
  box-sizing: border-box;
  border-radius: 40px;
}

#annonsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 100px;
  width: 90%;
  position: absolute;
  margin: auto;
  bottom: 0;
  margin-bottom: 50px;
}
