#city-programmes {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .city {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
  
  .CountryImage {
    width: 600px;
    height: 200px;
    border-radius: 10px 10px 10px 10px;
  }
  
  .cityImage {
    width: 270px;
    height: 200px;
    border-radius: 10px 10px 10px 10px;
  }
  
  .place-name {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .country-text {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px;
    background-color: rgba(151, 151, 151, 0.5);
    border-radius: 10px 10px 10px 10px;
  }
  
  .country-sub-text {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
  
    border-radius: 10px 10px 10px 10px;
  }
  
  .commentsCity {
    width: 300px;
  }
  
  .comments-city {
      background-color: green;
  }
  
  .comments-entertainment {
      background-color: red;
  }

  .more {
      display: none;
  }

  #country-banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #city-banner-text {
    font-size: 30px;
    text-align: center;
    padding: 20px;
  }

  #moreButton {
    border: 1px black solid;
    background-color: #fab15c;
    border-radius: 5px;
    padding: 5px;
    transition: opacity 0.1s;
  }

  .readMoreButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }

  #moreButton:hover {
    opacity: 80%;
    transition: opacity 0.1s;
  }