body {
font-family: Arial, Helvetica, sans-serif;
}


<<<<<<< Updated upstream
.info-box {
    background-color: rgba(211, 211, 211, 0.592);
    width: 90vw;
    height: 150px;
  }
  
  .country-name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
  }
=======
.info-box-country {
  background-color: rgba(211, 211, 211, 0.592);
  padding: 20px;
  margin-top: 20px;
  width: 970px;
}
  
.country-name {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}
>>>>>>> Stashed changes
  
  .country-info {
    font-size: 12px;
    padding-left: 80px;
    padding-right: 80px;
  }

.city {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}

.cityImage {
  width: 270px;
  height: 200px;
}

.place-name {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  transition: top 0.6s , color 0.6s , font-size 0.6s , text-shadow 0.5s , opacity 0.5s;
  white-space:nowrap;
}

.city-element {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: top 0.6s , color 0.6s , font-size 0.6s , text-shadow 0.5s , opacity 0.5s;
}

.city-element:hover > .cityImage {
  filter: grayscale(100%);
  transition: filter 0.6s;
  transition: top 0.6s , color 0.6s , font-size 0.6s , text-shadow 0.5s , opacity 0.5s;
}


.city-element:hover > .place-name { 
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.6s , color 0.6s , font-size 0.6s , text-shadow 0.5s , opacity 0.5s;
  color: white;
  font-size: 30px;
  top: 50%;
  text-shadow: 0 0 2px black;
}

.countryImage {
  object-fit: cover;
  height: 200px;
  width: 70vw;
  object-position: center;
  opacity: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#country-banner-text {
  font-family: Arial, Helvetica, sans-serif;
  color: #fab15c;
  font-weight: bolder;
  font-size: 125px;
  position: relative;
  top: 250px;
<<<<<<< Updated upstream
  left: 40vw;
=======
  text-align: center;
  z-index: 1;
}

/* #result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 30px;
  font-size: 17px;
} */

#programSearch{
  width: 500px;
  display: none;
}

form{
  display: none;
>>>>>>> Stashed changes
}