h1 {
  text-align: center;
  font-family: "Advent Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
  line-height: 194px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin: 0 auto;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.512);
}

h2 {
  font-family: "Advent Pro", sans-serif;
  font-weight: 400;
  font-size: 50px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin: 0 auto;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.512);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background: url(robin-noguier-sydwCr54rf0-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.btn1, .btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 355px;
  height: 102px;
  background: rgba(255, 174, 79, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;

  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-decoration: none;
}

.btn1:hover, .btn2:hover {
  font-weight: bolder;
}


.btn1:visited, .btn2:visited {
  color: black;
}
