
h1 {
  font-family: "Basic", sans-serif;
  font-style: normal;
  font-style: normal;
  font-weight: 300;
  font-size: 130px;
  line-height: 194px;
  display: flex;
  align-items: center;
  color: black;
  margin: 0 auto;
}

.toLandingPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: fixed;
  top: 40px;
  left: 40px;
}

.toLandingPageButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
}

.goBack {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #c4c4c4;
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: fixed;
  top: 100px;
  left: 40px;
}

.goBackButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
}
