h1 {
  font-family: "Basic", sans-serif;
  font-style: normal;
  font-style: normal;
  font-weight: 300;
  font-size: 130px;
  line-height: 194px;
  display: flex;
  align-items: center;
  color: black;
  margin: 0 auto;
}
