body {
  background-color: white;
  min-height: 100vh;
  min-width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Basic', sans-serif;
  font-weight: 300;
  font-size: 60px;
  display: flex;
  align-items: center;
  color: black;
  margin: 15px;
}


.cityImage {
  display: flex;
  align-items: right;
  width: 45px;
  height: 35px;
  padding: 10px;
  margin-left: 15px;
}

.subject-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding: 30px;
  margin-top: 40px;
}


.program-sub-name {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  padding: 25px;
  height: 100px;
  width: 300px;
  opacity: 40%;
  transition: opacity 0.5s;
  font-family: Arial, Helvetica, sans-serif;

  border-radius: 5px;
}

.program-sub-name:hover {
  opacity: 100%;
  transition: opacity 0.5s;
  cursor: pointer;
}

.program-sub-name-city {
  display: flex;
  margin: auto;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

}

.programmes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px; 
}