body {
  background-color: white;
  min-height: 100vh;
  min-width: 100vw;
  margin: auto;

}

h1 {
  font-family: 'Basic', sans-serif;
  font-weight: 300;
  font-size: 60px;
  display: flex;
  align-items: center;
  color: black;
  margin: 15px;
}

#subject-container {
 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px; 
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;

}

.subject-box {
  display: flex;
  align-items: center;
  justify-self: center;
  font-size: 30px;
  border: 1px black solid;
  padding: 25px;
  height: 80px;
  width: 250px;
  opacity: 50%;
  transition: opacity 0.5s;
  text-align: center;
  padding-top: 15px;
  transition: background-color 1.5s;

}



.subject-box:hover {
  opacity: 100%;
  transition: opacity 0.5s;
  cursor: pointer;
  background-color: rgb(156, 205, 237);

}

.subject-box:active{
 background-color: rgb(155, 167, 179);
}