h1 {
  text-align: center;
  font-family: "Nerko One";
  font-style: normal;
  font-weight: 400;
  font-size: 160px;
  line-height: 194px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin: 0 auto;
}

h2 {
  font-family: "Nerko One", cursive;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 60px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background: url(images/bakgrundsbild.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 355px;
  height: 102px;
  background: rgba(255, 174, 79, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}

.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 355px;
  height: 102px;
  background: rgba(255, 174, 79, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}

.annons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  opacity: 0.8;
  background: #e2e2e2;
  border: 2px solid rgba(202, 138, 62, 0.65);
  box-sizing: border-box;
  border-radius: 40px;
}

#annonsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 100px;
  width: 90%;
  position: absolute;
  margin: auto;
  bottom: 0;
  margin-bottom: 50px;
}

footer {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  background: #fab15c;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

a {
  font-family: "Basic", sans-serif;
  font-size: 32px;
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: white;
}
